<div class="weui-tab">
  <div class="weui-tab__panel">
    <router-outlet></router-outlet>
  </div>
  <div class="weui-tabbar">
    <a class="weui-tabbar__item" [routerLink]="['/game']" [routerLinkActive]="['weui-bar__item_on']" [routerLinkActiveOptions]="{exact:true}">
      <img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
      <p class="weui-tabbar__label">游戏</p>
    </a>
    <a class="weui-tabbar__item" [routerLink]="['/purchase']" [routerLinkActive]="['weui-bar__item_on']" [routerLinkActiveOptions]="{exact:true}">
      <img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
      <p class="weui-tabbar__label">购买</p>
    </a>
    <a class="weui-tabbar__item" [routerLink]="['/exchange']" [routerLinkActive]="['weui-bar__item_on']" [routerLinkActiveOptions]="{exact:true}">
      <img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
      <p class="weui-tabbar__label">兑换</p>
    </a>
  </div>
</div>